 <div class="states restaurant-states">
                <div class="state-column restaurant-state-column state-1">
                    <p class="order-count">₹{{ordercount}}</p>
                    <p class="order-text">Total Orders</p>
                </div>
                <div class="state-column restaurant-state-column state-2">
                    <p class="order-count">₹{{totaldiscountamount | number }}</p>
                    <p class="order-text">Total Discount</p>
                </div>
                <div class="state-column restaurant-state-column state-3">
                    <p class="order-count">₹{{totalpendingamount}}</p>
                    <p class="order-text">Total Pending Amount</p>
                </div>
                <div class="state-column restaurant-state-column state-4">
                    <p class="order-count">₹{{totalorderamount}}</p>
                    <p class="order-text">Grand Total</p>
                </div>
            </div>
           