
<h4 class="titleh4">Map Product Price Management</h4>
<button class="bt1n btnbox" id="show" (click)="shows()">+Add Product Price</button>

<!-- Loading and Error States -->
<div *ngIf="loading$ | async">Loading...</div>
<div *ngIf="error$ | async as error" style="color:red">{{ error }}</div>

<!-- Add Form Modal -->
<div *ngIf="show" class="comman">
  <div class="row box">
    <form [formGroup]="myAddForm" (ngSubmit)="onFormSubmit()" class="col lbl2">
      <button class="close" type="button" (click)="close()">Close</button>
      <div class="row lbl">
        <h4>Add Products Price</h4>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="SelectProductId">Select Product :</label>
        </div>
        <div class="col">
          <select formControlName="SelectProductId" class="lbl" (change)="loadProducts2()">
            <option *ngFor="let d of Productnamedata$ | async" [value]="d._id">{{ d.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="selectcategoryID">Select Category Name :</label>
        </div>
        <div class="col">
          <select id="selectcategoryID" formControlName="selectcategoryID" class="lbl">
            <option disabled selected>Select Category Name</option>
            <option *ngFor="let d of categorynamedata$ | async" [value]="d._id">{{ d.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="selectQtypeID">Select Quantity Type Name :</label>
        </div>
        <div class="col">
          <select id="selectQtypeID" formControlName="selectQtypeID" class="lbl">
            <option disabled selected>Select Quantity Type Name</option>
            <option *ngFor="let d of Qtypenamedata$ | async" [value]="d._id">{{ d.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="selectSubQuantityTypeID">Select Sub Quantity Type:</label>
        </div>
        <div class="col">
          <select id="selectSubQuantityTypeID" formControlName="selectSubQuantityTypeID" class="lbl">
            <option disabled selected>Select Sub Quantity Type Name</option>
            <option *ngFor="let d of subQuantityTypeByIdData$ | async" [value]="d._id">{{ d.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="ProductPrice">Product Price :</label>
        </div>
        <div class="col">
          <input class="lbl" type="number" min="0" max="100000" formControlName="ProductPrice" id="ProductPricetxt" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="Shortcode">Shortcode (number) :</label>
        </div>
        <div class="col">
          <input
            type="number"
            id="Shortcode"
            class="lbl"
            formControlName="ShortCodeNumber"
            minlength="0"
            maxlength="10"
            pattern="^[0-9]{0,10}$"
            placeholder="Enter shortcode (numbers only)"
            required
          />
          <div
            *ngIf="myAddForm.get('Shortcode')?.invalid && myAddForm.get('Shortcode')?.touched"
            class="text-danger"
          >
            <div *ngIf="myAddForm.get('Shortcode')?.errors?.['required']">
              Shortcode is required.
            </div>
            <div *ngIf="myAddForm.get('Shortcode')?.errors?.['pattern']">
              Shortcode must be numeric.
            </div>
            <div *ngIf="myAddForm.get('Shortcode')?.errors?.['maxlength']">
              Shortcode cannot be more than 10 digits.
            </div>
            <div *ngIf="shortcodeStringDuplicate" class="text-danger">
              Shortcode already exists. Please enter a unique value.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="ShortcodeString">Shortcode (string):</label>
        </div>
        <div class="col">
          <input
            type="text"
            id="ShortcodeString"
            class="lbl"
            formControlName="ShortCodeString"
            minlength="0"
            maxlength="10"
            placeholder="Enter shortcode (max 10 chars)"
            required
            (blur)="checkDuplicateShortcode()"
          />
          <div
            *ngIf="myAddForm.get('ShortcodeString')?.invalid && myAddForm.get('ShortcodeString')?.touched"
            class="text-danger"
          >
            <div *ngIf="myAddForm.get('ShortcodeString')?.errors?.['required']">
              Shortcode is required.
            </div>
            <div *ngIf="myAddForm.get('ShortcodeString')?.errors?.['maxlength']">
              Shortcode cannot be more than 10 characters.
            </div>
          </div>
          <div *ngIf="shortcodeStringDuplicate" class="text-danger">
            Shortcode already exists. Please enter a unique value.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="mostSelling">Most Selling Item</label>
        </div>
        <div class="col" style="display: flex; align-items: center;">
          <input
            type="checkbox"
            id="mostSelling"
            formControlName="mostSelling"
          />
          <label for="mostSelling" style="margin-left: 8px;">Mark as Most Selling</label>
        </div>
      </div>

      <p>{{ args }}</p>
      <div class="row">
        <div class="col">
          <button class="bt1n" [disabled]="myAddForm.invalid" type="submit">Add Product Price</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Edit Form Modal -->
<div *ngIf="showEdit" class="comman">
  <div class="row box">
    <form [formGroup]="myEditForm" (ngSubmit)="onFormUpdateSubmit()" class="col lbl2">
      <button class="close" type="button" (click)="close()">Close</button>
      <div class="col">
        <h2><b>Edit</b></h2>
      </div>
      <p>{{ args }}</p>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="SelectProductId">Select Product :</label>
        </div>
        <div class="col">
          <select id="SelectProductId" formControlName="SelectProductId" class="lbl">
            <option disabled selected>Select Product Name</option>
            <option *ngFor="let d of Productnamedata$ | async" [value]="d._id" [selected]="d._id === popdata2?.SelectProductId">{{ d.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="selectcategoryID">Select Category Name :</label>
        </div>
        <div class="col">
          <select id="selectcategoryID" formControlName="selectcategoryID" class="lbl">
            <option disabled selected>Select Category Name</option>
            <option *ngFor="let d of categorynamedata$ | async" [value]="d._id" [selected]="d._id === popdata2?.selectcategoryID">{{ d.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="selectQtypeID">Select Quantity Type Name :</label>
        </div>
        <div class="col">
          <select id="selectQtypeID" formControlName="selectQtypeID" class="lbl">
            <option disabled selected>Select Quantity Type Name</option>
            <option *ngFor="let d of Qtypenamedata$ | async" [value]="d._id" [selected]="d._id === popdata2?.selectQtypeID">{{ d.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="selectSubQuantityTypeID">Select Sub Quantity Type:</label>
        </div>
        <div class="col">
          <select id="selectSubQuantityTypeID" formControlName="selectSubQuantityTypeID" class="lbl">
            <option disabled selected>Select Sub Quantity Type Name</option>
            <option *ngFor="let d of subQuntities" [value]="d._id" [selected]="d._id === popdata2?.selectSubQuantityTypeID">{{ d.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="ProductPrice">Product Price :</label>
        </div>
        <div class="col">
          <input style="width: 114px; margin: 3px;" type="number" min="0" max="100000" formControlName="ProductPrice" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="Shortcode">Shortcode (number) :</label>
        </div>
        <div class="col">
          <input
            type="number"
            id="Shortcode"
            class="lbl"
            formControlName="ShortCodeNumber"
            minlength="0"
            maxlength="10"
            pattern="^[0-9]{0,10}$"
            placeholder="Enter shortcode (numbers only)"
            required
          />
          <div
            *ngIf="myAddForm.get('Shortcode')?.invalid && myAddForm.get('Shortcode')?.touched"
            class="text-danger"
          >
            <div *ngIf="myAddForm.get('Shortcode')?.errors?.['required']">
              Shortcode is required.
            </div>
            <div *ngIf="myAddForm.get('Shortcode')?.errors?.['pattern']">
              Shortcode must be numeric.
            </div>
            <div *ngIf="myAddForm.get('Shortcode')?.errors?.['maxlength']">
              Shortcode cannot be more than 10 digits.
            </div>
            <div *ngIf="shortcodeStringDuplicate" class="text-danger">
              Shortcode already exists. Please enter a unique value.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="ShortcodeString">Shortcode (string):</label>
        </div>
        <div class="col">
          <input
            type="text"
            id="ShortcodeString"
            class="lbl"
            formControlName="ShortCodeString"
            minlength="0"
            maxlength="10"
            placeholder="Enter shortcode (max 10 chars)"
            required
            (blur)="checkDuplicateShortcode()"
          />
          <div
            *ngIf="myAddForm.get('ShortcodeString')?.invalid && myAddForm.get('ShortcodeString')?.touched"
            class="text-danger"
          >
            <div *ngIf="myAddForm.get('ShortcodeString')?.errors?.['required']">
              Shortcode is required.
            </div>
            <div *ngIf="myAddForm.get('ShortcodeString')?.errors?.['maxlength']">
              Shortcode cannot be more than 10 characters.
            </div>
          </div>
          <div *ngIf="shortcodeStringDuplicate" class="text-danger">
            Shortcode already exists. Please enter a unique value.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="mostSelling">Most Selling Item</label>
        </div>
        <div class="col" style="display: flex; align-items: center;">
          <input
            type="checkbox"
            id="mostSelling"
            formControlName="mostSelling"
          />
          <label for="mostSelling" style="margin-left: 8px;">Mark as Most Selling</label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <button class="bt1n" style="margin: 3px;" [id]="'b' + popdata2?._id">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Data Table -->
<!-- <ag-grid-angular
  class="box ag-theme-quartz"
  style="height:500px;"
  [rowData]="productPriceRecord"
  [columnDefs]="colDefs"
  [pagination]="pagination"
  [paginationPageSize]="paginationPageSize"
  [paginationPageSizeSelector]="paginationPageSizeSelector"
  (cellClicked)="onCellClick($event)"
></ag-grid-angular> -->
<app-gird-table
      [columns]="colDefs"
      [data]="productPriceRecord"
      (rowClicked)="onRowClick($event)"
    ></app-gird-table>
<!-- Popup Modal -->
<app-popupmodel
  (deletedconfirmedclicked)="deletedConfirmed($event)"
  (clicked)="handleChildClick()"
  [style]="display"
  [tabname]="tablename"
  [data]="valueid"
  [modal]="modal"
></app-popupmodel>