.agtable
{
text-align: center;
font-size: small;
font-weight: 500;

}
.ag-header-cell {
    background-color: #ebc5c5;
    font-weight: bold;
  }
  .orderlistmain
  {
    width: 100%;margin: auto ;
    padding: 20px;
    border-radius: 0.5rem;
    border: solid rgb(231, 207, 207) 0.1rem;
  }
  .amountstatus
  {
    padding: 30px;border-radius: 0.3rem;border:solid rgb(228, 214, 193) 0.2rem;
    max-height: 200px;
    max-width: 200px;
    height: 130px;
    width: 200px;
    font-size: 15px;
    text-align: center;
    background-color: #fafdff;
  }
  .amountstatus b
  {
   font-size: large;
  }
  