<h4 class="titleh4">Orders Management</h4>
        <div class="restaurant-dashboard">
            <!-- First Div -->
            <div class="header restaurant-header">
                <h1>Books & Beans Dashboard</h1>
                <div class="buttons restaurant-buttons">
                    <button class="dine-in" (click)="dineIn()">Dine In</button>
                    <button class="take-away" (click)="pickUp()">Pick Up</button>
                </div>
            </div>
        
            <!-- Second Div -->
                                                                            
               <app-display-orders-list></app-display-orders-list>                                                      
        </div>    
       
