@if (showPopUp) {
  <!-- search customer -->
  <div class="comman">
  
    <button class="close" type="button" (click)="close()">Close</button>
        
    <div class="row lbl">
      <h4>Select Customer</h4>
    </div>
    <div class="row lbl" *ngIf="DisplayCustomers">
      <label>{{ DisplayCustomers }}</label>
      <button type="button" (click)="onProceed()" class="bt1n" style="margin: 3px;">
        Proceed
      </button>
    </div>
    <div class="row lbl">
      <h4>OR</h4>
    </div>
    <div class="row box">
      <form [formGroup]="myAddForm" (ngSubmit)="onFormSubmit()" class="col lbl2">
        
        <div class="row lbl">
          <h4>Add Customer</h4>
        </div>
        <div class="form-group row">
          <div class="col">
            <label class="lbl" for="nametxt">Name:</label>
          </div>
          <div class="col">
            <input class="lbl" type="text" formControlName="name" id="nametxt" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <label class="lbl" for="mobtxt">Mobile No.:</label>
          </div>
          <div class="col">
            <input class="lbl" type="number" minlength="10" maxlength="20" formControlName="MobileNo" pattern="[0-9]{10,20}" id="mobtxt" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" [disabled]="myAddForm.invalid" class="bt1n" style="border: solid black; padding: 10px;">+</button>
          </div>
        </div>
      </form>
    </div>
  </div>
}

  <!-- <div class="row box">
      <form [formGroup]="myCustomerSearchForm" (ngSubmit)="onCustomerSearch()" class="col lbl2">
        <button class="close" type="button" (click)="close()">Close</button>
        <div class="row lbl">
          <h4>Search Customer:</h4>
        </div>
        <div class="row lbl" *ngIf="DisplayCustomers">
          <label>{{ DisplayCustomers }}</label>
          <button type="button" (click)="onProceed()" class="bt1n" style="margin: 3px;">
            Proceed
          </button>
        </div>
        <div class="row lbl">
          <h4>OR</h4>
        </div>
        <div class="row lbl">
          <h4>Search Customer</h4>
        </div>
       
        <div class="form-group row">
          <div class="col">
            <label class="lbl" for="mobtxt">Mobile No.:</label>
          </div>
          <div class="col">
            <input class="lbl" type="text" minlength="10" maxlength="20" formControlName="MobileNo" id="mobtxt" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" [disabled]="myCustomerSearchForm.invalid" class="bt1n" style="border: solid black; padding: 10px;">+</button>
          </div>
        </div>
      </form>
    </div> -->

    <!-- add customer -->