<h4 class="titleh4"> Category Type Management</h4>


@if (loading$ | async) {
  <div>Loading...</div>
}
@if (error$ | async; as error) {
  <div style="color:red">{{ error }}</div>
}
<button class="bt1n btnbox" id="show" (click)="shows()">+Add Category</button>

@if (popupenvironments.show$ | async) {
  <div class="comman" >
    <div class="row box">
      <!-- left col -->
      <form [formGroup]="myAddForm" (ngSubmit)="onFormSubmit()" #f="ngForm" class="col lbl2" >
        <button  class="close" (click)="close()"><b>x</b></button>
        <div class="row lbl"><h4>Insert Product Category(like chinees, south indian )</h4></div>
        <div class="row form-group">
          <div class="col"> <label class="lbl"  for="categoryname" id="categoryname" > Name :</label></div>
          <div class="col"><input class="lbl" minlength="0" maxlength="200" type="text"  id="categorynametxt" formControlName="name"/></div>
        </div>
        <div class="row form-group">
          <div class="col">  <label class="lbl" minlength="0" maxlength="200" for="quantitydesctxt" id="categorydesc" > Description :</label></div>
          <div class="col">  <input class="lbl" type="text"  id="quantitydesctxt" formControlName="categorydesc"/></div>
        </div>
        <p>{{popupenvironments.args$ | async}}</p>
        <div class="mt-2">
          <button class="bt1n" type="submit" [disabled]="myAddForm.invalid ">Add Category</button>
        </div>
      </form>
    </div>
  </div>
}
<!-- right col -->
@if (popupenvironments.showEdit$ | async) {
  <div class=" comman">
    <div class="row box">
      <form [formGroup]="myEditForm" (ngSubmit)="onEditForm()" #f="ngForm" class="col lbl2">
        <button  class="close" (click)="close()">Close</button>
        <div class="row lbl">
          <h2 ><b>Edit</b></h2>
        </div>
        <p>{{popupenvironments.args$ | async}}</p>
        <div class="row form-group">
          <div class="col"><label class="lbl" for="categoryname" id="categoryname2" > Name :</label></div>
          <div class="col"> <input style="width: 114px; margin: 3px;" minlength="0" maxlength="200" type="text" formControlName="name"></div>
        </div>
        <div class="row form-group">
          <div class="col"><label class="lbl" for="quantitydesctxt2" id="categorydesc2" > Description :</label></div>
          <div class="col"><input id="quantitydesctxt2" style="width: 250px; margin: 3px;" minlength="0" maxlength="200" type="text" formControlName="categorydesc"></div>
        </div>
       
        <div class="mt-2">
            <button class="bt1n"  id="b{{popupenvironments.popdata2$._id | async}}" [disabled]="myEditForm.invalid " >Update</button>
        </div>
     
    </form>
  </div>
</div>
}




<!-- <ag-grid-angular class="box ag-theme-quartz"
  style="height:500px;"
  [rowData]="categories$|async "
  [columnDefs]="colDefs"
  [pagination]="pagination"
  [paginationPageSize]="paginationPageSize"
  [paginationPageSizeSelector]="paginationPageSizeSelector"
  (cellClicked)="onCellClick($event)"
  /> -->
  <ng-container *ngIf="categories$ | async as categories">
    <app-gird-table
    [columns]="colDefs"
    [data]="categories "
    (rowClicked)="onRowClick($event)"
    ></app-gird-table>
    </ng-container>
  
     <!-- (rowEdited)=" onRowEdit($event)"
      (cellClicked)="onCellClick($event)" -->
  <div >
    <app-popupmodel
      [data]="popupenvironments.valueid$ | async"
      [modal]="popupenvironments.modal$ | async"
      [style]="popupenvironments.display$ | async"
      [tabname]="popupenvironments.tablename$ | async"
      (deletedconfirmedclicked)="deletedConfirmed($event)"
      (clicked)="handleChildClick()"
    ></app-popupmodel>
  </div>