<h4 class="titleh4"> Payby Type Management</h4>
<button class="bt1n btnbox" id="show" (click)="shows()">+Add Payby</button>
<app-makeme-default [PayByData]="PayByData"></app-makeme-default>
@if (popupenvironments.show$ | async) {
  <div class="comman" >
    <div class="row box">
      <!-- left col -->
      <form [formGroup]="myAddForm" (ngSubmit)="onFormSubmit()" #f="ngForm" class="col lbl2" >
        <button  class="close" (click)="close()">Close</button>
        <div class="row lbl"><h4>Insert Payby(like BHIMUPI, CARD, ONLINE )</h4></div>
        <div class="row form-group">
          <div class="col"> <label class="lbl" for="Paybyname" id="name" >Pay By Name :</label></div>
          <div class="col"><input class="lbl" type="text"  id="Paybynametxt" formControlName="name"/></div>
        </div>
        <div class="row form-group">
          <div class="col">  <label class="lbl" for="desc" id="desc" > Description :</label></div>
          <div class="col">  <input class="lbl" type="text"  id="desctxt" formControlName="desc"/></div>
        </div>
        <p>{{popupenvironments.args$ | async}}</p>
        <div class="mt-2">
          <button class="bt1n" type="submit" [disabled]="myAddForm.invalid ">Add </button>
        </div>
      </form>
    </div>
  </div>
}
<!-- right col -->
@if (popupenvironments.showEdit$ | async) {
  <div class=" comman">
    <div class="row box">
      <form [formGroup]="myEditForm" (ngSubmit)="onEditForm()" #f="ngForm" class="col lbl2">
        <button  class="close" (click)="close()">Close</button>
        <div class="row form-group">
          <div class="col"><h2 ><b>Edit</b></h2></div>
        </div>
        <p>{{popupenvironments.args$ | async}}</p>
        <div class="row form-group">
          <div class="col"><label class="lbl" for="Paybyname" id="Paybyname" >Pay By Name :</label></div>
          <div class="col"> <input style="width: 114px; margin: 3px;" type="text" formControlName="name"></div>
        </div>
        <div class="row form-group">
          <div class="col"><label class="lbl" for="desc" id="desc" >Description :</label></div>
          <div class="col"><input style="width: 250px; margin: 3px;" type="text" formControlName="desc"></div>
        </div>
        <div class="row form-group">
          <div class="col"> <button class="bt1n" style=" margin: 3px;" id="b{{popupenvironments.popdata2$._id | async}}" [disabled]="myEditForm.invalid " >Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
}




<!-- <ag-grid-angular class="box ag-theme-quartz"
  style="height:500px;"
  [rowData]="ManageDataEnvironments.Payby$ | async"
  [columnDefs]="colDefs"
  [pagination]="pagination"
  [paginationPageSize]="paginationPageSize"
  [paginationPageSizeSelector]="paginationPageSizeSelector"
  (cellClicked)="onCellClick($event)"
  /> -->
  <app-gird-table
      [columns]="colDefs"
      [data]="PayByData"
      
      (rowClicked)="onRowClick($event)"
     
    ></app-gird-table>
  <!-- <div >
    <app-popupmodel (deletedconfirmedclicked)="deletedConfirmed($event)" (clicked)="handleChildClick()" [style]="popupenvironments.display$ | async" [tabname]="popupenvironments.tablename$ | async" [data]="popupenvironments.valueid$ | async" [modal]="popupenvironments.modal$ | async"></app-popupmodel>
  </div> -->