<!--
  Refactored app component layout.
  Dynamic page rendering via *ngIf
-->

<!-- NAVBAR always visible -->
 
 <ng-container *ngIf="MenuName === 'companylogin'">
  <div>
    <app-companylogin (redirectToTables)="receiveNotification($event)"></app-companylogin>
  </div>
</ng-container>
<app-navbar (notifyManage)="receiveNotification($event)"></app-navbar>

<!-- MANAGE SECTION -->
<ng-container *ngIf="MenuName === 'manage'">
  <div>
    <app-managefoodnavbar></app-managefoodnavbar>
  </div>
</ng-container>

<!-- HOME SECTION -->
<ng-container *ngIf="MenuName === 'home'">
  <div>
    <!-- [TokenNumber]="TokenNumber" -->
    <app-home
    [runningItemsKOT$]="runningItems$"
      [invoiceid]="invoiceid"
      [TokenNumber]="TokenNumber"
      [paybydata]="payBy"
      [categorynamedata$]="category$"
      [Productnamedata$]="product$"
      [productPriceData$]="productPrice$"
      [addOnProductsData$]="addOnProduct$"
      [subQuantityTypeName$]="subQuantityTtype$"
      [Tax]="tax"
      [DineData$]="dine$"
      [Qtypenamedata$]="quantityType$"
      [InvoiceData$]="invoicedata$" 
      (value_invoiceid_Changed)="updateinvoiceidValue($event)"
      (cancelOrder)="cancelOrder($event)"
      (RedirectToTable)="showTablePage($event)"
    ></app-home>
  </div>
</ng-container>

<!-- DASHBOARD SECTION -->
<ng-container *ngIf="MenuName === 'dashboard'">
  <div>
    <app-dashboard></app-dashboard>
  </div>
</ng-container>

<!-- ORDERS SECTION -->
<ng-container *ngIf="MenuName === 'orders'">
  <div>
    <app-orders
      (showTables)="receiveNotification($event)"
      (pickUpOrder)="pickUpOrders($event)"
    ></app-orders>
  </div>
</ng-container>

<!-- CUSTOMERS SECTION -->
<ng-container *ngIf="MenuName === 'customers'">
  <div>
    <app-customers></app-customers>
  </div>
</ng-container>

<!-- RUNNING ORDERS SECTION -->
<ng-container *ngIf="MenuName === 'runningorder'">
  <div>
    <app-runningorders (notifyManage3)="gohomeinvoiceid($event)"></app-runningorders>
  </div>
</ng-container>

<!-- TABLES SECTION -->
<ng-container *ngIf="MenuName === 'tables'">
  <div>
     <!--  -->
    <app-tables
    [runningItemsKOT$]="runningItems$"
    [Floordata$]="floor$"
    [DineData$]="dine$"
    
      [pickupOrder]="pickup"
      [CancelOrder]="CancelOrder"
      (clearCancelOrder)="clearCancelOrders($event)"
      (notifyManage2)="initializeDataForHome($event)"
      (clearPickupOrder)="clearPickupOrders($event)"
    ></app-tables>
  </div>
</ng-container>
 <!-- [runningItemsKOT$]="runningItems$" -->