<h4 class="titleh4">Tables Management</h4>
<div class="restaurant-dashboard">
  <!-- First Div -->
  <div class="header restaurant-header">
    <h1>Books & Beans </h1>
    <div class="buttons restaurant-buttons">
      <button class="dine-in" (click)="showreserveDine()">Reserve a Table</button>
      <button class="dine-in" (click)="pickup()">Pick Up</button>
    </div>
  </div>

  <!-- Second Div -->
  <div class="tabs-and-status">
    <div class="table-tabs restaurant-tabs">
      <!-- table-tab active -->
      <button [class]="tabactive0" (click)="tabshow(0)">Available </button>
      <button [class]="tabactive1" (click)="tabshow(1)">Reserved ({{reservedLength}}) </button>
      <button [class]="tabactive2" (click)="tabshow(2)">Running Orders ({{runningOrderLength}}) </button>
      <button [class]="tabactive3" (click)="tabshow(3)">Billed</button>
      <button [class]="tabactive4" (click)="tabshow(4)">Running KOT</button>
    </div>

    <div class="status-indicators">
      <div class="status-item">
        <span class="status-circle available"></span>
        <span class="status-text">Available</span>
      </div>
      <div class="status-item">
        <span class="status-circle reserved"></span>
        <span class="status-text">Reserved</span>
      </div>
      <div class="status-item">
        <span class="status-circle running-orders"></span>
        <span class="status-text">Running Orders (KOT)</span>
      </div>
      <div class="status-item">
        <span class="status-circle billed"></span>
        <span class="status-text">Billed</span>
      </div>
    </div>
  </div>


  <!-- Fourth Div -->
  <!-- selet table start-->
  <ng-container *ngIf="tab === 0">
    <div class="order-list-container">
      <ng-container *ngFor="let floor of Floordata$ | async; ">
        <div>
          <div class="order-list-header">
            {{ floor.name }}
          </div>
          <div class="table-layout">
            <ng-container *ngFor="let d of DineData$ | async; ">
              <ng-container *ngIf="floor._id === d.floor_id">
                <ng-container *ngIf="d.status; else bookedTable">
                  <a (click)="booktable(d._id)" class="table">
                    <p><b>{{ d.name }}</b> Available</p>
                    <div>
                      <div class="circle top-left"></div>
                      <div class="circle top-right"></div>
                      <div class="circle bottom-left"></div>
                      <div class="circle bottom-right"></div>
                    </div>
                  </a>
                </ng-container>
                <ng-template #bookedTable >
                  <div class="table">
                  <span  style="background-color: #007BFF" (click)="goToHomeBookedTable(d._id,d.name)" class="table">
                    <b style="color: #070303;">{{ d.name }} Booked</b>
                    
                      <!-- INSERT_YOUR_CODE -->
                     
                      <div class="circle top-left"></div>
                      <div class="circle top-right"></div>
                      <div class="circle bottom-left"></div>
                      <div class="circle bottom-right">

                      </div>
                  </span>
                  <ng-container class="eyes" *ngIf="runningItemsKOT$ | async as runningItemsKOT">
                    <ng-container *ngFor="let item of runningItemsKOT">
                      <ng-container *ngIf="item.TableId === d._id">
                        <span 
                        class="table-eye-icon" 
                        title="Running KOT Order" 
                        style=" background: rgba(190, 149, 149, 0.849); cursor: pointer; position: absolute;
                        top: 90%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30%;
                        height: 30%;
                        border: solid gray 1px;
                        pointer-events: auto;"
                        (click)="goToHomeKOTedTable(d._id, d.name)">
                        <i class="fa fa-eye" style="color: #070303; font-size: 2.2em;">
                          <p style="font-size: 10px;">KOT</p>
                        </i>
                      </span>
                      
                        <!-- We only want one icon, so break here -->
                        <ng-container *ngIf="false"></ng-container>
                        <!-- This hack ensures the rest aren't displayed -->
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </div>
                  <!-- start  -->
                
<!-- end  -->

                </ng-template>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <!-- end -->
  <!-- reservedind start -->
  @if (tab==1) {
  <div class="order-list-container">
    <div>
      <div class="table-layout">
        <div *ngFor="let d of reservedinedata index as ii">
          <b>{{d.TableName}}</b>
         
          <div>
            
            <a  class="table" style="background-color: #FFC107;">
              <div style="font-size:small;"> {{d.ReservedDate.split('T')}}
                <br>
               
                <br>
                <b *ngIf="d.MobileNo"> Mobile No: {{d.MobileNo}}</b>
                <br>
                <!-- (d.DateTimeStart.split('T')[1].split(':')[0]}=== currentDateOnly.split(':'[0]))&& (d.DateTimeStart.split('T')[1].split(':')[0]}===currentTime.split(:)[0]) -->
                <!-- <div *ngIf="(d.ReservedDate.split('T')[0]=== currentDateOnly) && (d.ReservedDate.split('T')[1].split(':')[0].trim()===currentTime.split(':')[0].trim() || ((+1+(+d.ReservedDate.split('T')[1].split(':')[0].trim())))===(+1+currentTime.split(':')[0].trim()))"> -->
                <div
                  *ngIf="
                    d.ReservedDate.split('T')[0] === currentDateOnly &&
                    (
                      d.ReservedDate.split('T')[1].split(':')[0].trim() === currentTime.split(':')[0].trim() ||
                      (+d.ReservedDate.split('T')[1].split(':')[0].trim() + 1) === (+currentTime.split(':')[0].trim() + 1)
                    )
                  "
                >
                 
                 
                      <!-- <div>
                      <button class="btn-primary" (click)="gotohome(runningorder_.receiptnumber,runningorder_.tokennumber)">goToHome</button>
                    </div> -->
                  
                    @if (d.Bookingstatus) {
                      <button class="btn-primary" (click)="redirectto_gotohome(d.RecieptNumber)">goToMenu</button>
                    }@else{
                      <button class="btn-primary" (click)="confirmReserveDine(d._id)">Confirme</button>
                    }
                </div>
              </div>
              <div>
                <!-- chair booking status 0-booked 1-booking available 2-booking available but do want book -->
                <!-- <div class="circle top-left"></div> -->
                <div class="circle top-right"></div>
                <div class="circle bottom-left">
                </div>
                <div class="circle bottom-right">
                </div>
              </div>
            </a>
          </div>
          
          <b>{{d.Name}}</b>
          <a (click)="deletereservedine(d._id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill"
              viewBox="0 0 16 16">
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
            </svg>
          </a>
          <a (click)="editReserveDine2(d._id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  }
  <!-- end  -->
  <!-- runing order start -->
  <ng-container *ngIf="tab === 2">
    <div class="order-list-container">
      <div class="running-layout">
        <ng-container *ngFor="let runningorder_ of runningorder">
          <div class="table">
            <div class="states restaurant-states">
              <div class="state-column restaurant-state-column">

                <ng-container *ngIf="runningorder_.Chairsrunningorder.length > 0; else tableInfo">
                  <div>
                    <ng-container *ngFor="let d of  DineData$ | async">
                      <div class="order-text" *ngIf="d._id === runningorder_.Chairsrunningorder[0].table_id">
                        <h6>
                          {{ d.name }}, Token: ({{ runningorder_.tokennumber }})
                          <h6 class="order-meta">{{ runningorder_.receiptnumber }}</h6>
                        </h6>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
                <ng-template #tableInfo>
                  <h6 class="order-text">
                    <b>
                      {{ runningorder_.tablename }}, Token: ({{ runningorder_.tokennumber }})
                    </b>
                  </h6>
                  <h6 class="order-meta">{{ runningorder_.receiptnumber }}</h6>
                </ng-template>

                <div class="order-actions">
                  
                  <button class="btn-primary"
                    (click)="gotohome(runningorder_.receiptnumber, runningorder_.tokennumber)">
                    goToMenu
                  </button>
                  <ng-container *ngIf="runningItemsKOT$ | async as runningItemsKOT">
                    <ng-container *ngIf="hasRunningItem(runningItemsKOT, runningorder_.receiptnumber); else noKotRunning">
                      <div class="btn-info">
                        <button class="btn-info" (click)="loadRunningKOT(runningorder_.receiptnumber)">KOT Running</button>
                      </div>
                    </ng-container>
                    <ng-template #noKotRunning>
                      <div class="btn-info" style="background:#b9bbc1; color:#303030;">
                        <button class="btn-danger" (click)="cancel(runningorder_.receiptnumber)">🗑️</button>
                      </div>
                    </ng-template>
                  </ng-container>
                  
               
                </div>

              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>



  <!-- end -->
  <!-- Top Section -->
  @if (tab==3) {
  <div class="order-list-container">
    <div>
      <div class="table-layout">
        <div *ngFor="let d of todayBilledLists index as ii">
          <div class="receipt-container">
            <b class="table-name">{{ d.tablename }}</b>
            <div class="receipt-details">
              <span><strong>Receipt No:</strong> {{ d.RecieptNumber }}</span>
              <span><strong>Grand Total:</strong> ₹{{ d.grandtotal }}</span>
              <span><strong>Paid:</strong> ₹{{ d.PaidAmount }}</span>
            </div>
            <p class="receipt-date">{{ d.createdAt }}</p>
          </div>

        </div>
      </div>
    </div>
  </div>
  }
  <ng-container *ngIf="tab === 4">
    <div class="order-list-container">
      <div class="running-layout">
          <!-- <h4 style="margin-bottom: 12px;">KOT Running Items</h4> -->
          <div class="kot-section" *ngIf="runningItemsKOT$ | async as runningItemsKOT">
            <div class="kot-header">
              <b>
                Current KOT Items ({{ runningItemsKOT.length }}):
              </b>
            </div>
            <div *ngIf="runningItemsKOT.length > 0; else noKotItems" class="kot-list">
              <ng-container *ngFor="let rec of groupByReceiptNumber(runningItemsKOT)">
                <div class="kot-item-box">
                  <div class="kot-receipt">
                    <strong>Receipt:</strong> {{ rec.RecieptNumber }}
                   
                    
                  </div>
                  <div class="kot-count">
                    <strong>KOT Items ({{ rec.items.length }}):</strong>
                    
                  </div>
                  <div class="kot-items-row">
                    <ng-container *ngFor="let item of rec.items">
                      <div class="kot-box-item">
                        <strong>Time:</strong> {{ item?.createdAt ? (item?.createdAt | date:'short') : 'N/A' }}
                      <ng-container *ngFor="let kotItem of item.KOTrunningorders">
                       
                          <span class="kot-table"><strong>Item:</strong> {{ kotItem.ProductName || 'Unnamed Item' }}</span>
                          <span *ngIf="!!item.status" class="kot-status"><strong>Status:</strong> {{ item.status }}</span>
                        
                      </ng-container>
                    </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
            <ng-template #noKotItems>
              <div class="no-kot-items">No running KOT items.</div>
            </ng-template>
          </div>

          <style>
           
          </style>
      </div>
    </div>
  </ng-container>
  <!-- Table Section -->

  <!-- show popup reserve table start -->

  @if (show) {
  <div class="comman">
    <div class="row box">
     <span>{{args}}</span>

      <form [formGroup]="myAddForm" (ngSubmit)="onFormSubmit()" >

        <!-- Close Button -->
       
        <!-- Header -->
        <div class="row lbl">
          <button class="close"  (click)="close()">Close</button>
          <h4>Reserve a Dine (Validity for 2 hour)</h4>
        </div>

        <!-- Table Selection -->
        <div class="form-group row">
          <div class="col">
            <label for="TableId">Select Table:</label>
          </div>
          <div class="col">
            <select id="TableId" formControlName="TableId" class="form-control">
              @for (table of FloorWithDineData; track table) {
              <option [value]="table._id">{{ table.FloorName }}/ {{ table.name }}</option>
              }
            </select>
          </div>
        </div>

        <!-- Date & Time Picker -->
        <!-- Date Picker -->
        <div class="form-group row">
          <div class="col">
            <label for="DateOnly">Pick Date:</label>
          </div>
          <div class="col">
            <input id="DateOnly" type="date" formControlName="ReservedDate" class="form-control" [min]="currentDateOnly" [value]="selectedDate"
              (change)="onDateChange($event)" />
          </div>
        </div>

        <!-- Time Dropdown -->
        <div class="form-group row">
          <div class="col">
            <label for="TimeOnly">Pick Time (2 hour slots):</label>
          </div>
          <div class="col">
            <select id="TimeOnly" formControlName="ReservedTimeSlot" class="form-control" [value]="selectedTime" (change)="onTimeChange($event)">
              <option *ngFor="let time of availableTimeSlots" [value]="time">{{ time }}</option>
            </select>
          </div>
        </div>

        <!-- Hidden field bound to the form's DateTimeStart -->
        <input type="hidden" id="dateTimeStartControl" name="dateTimeStartControl" [formControl]="dateTimeStartControl" />


        <!-- Customer Selection -->
        <div class="form-group row">
          <div class="col">
            <label for="CustomerId">Select Customer:</label>
          </div>
          <div class="col">
            <!-- <select id="CustomerId" formControlName="CustomerId" class="form-control" (click)="bindcustomer()">
              <option value="">None</option>
              @for (customer of Customersnamedata; track customer) {
              <option [value]="customer._id">{{ customer.Name }}</option>
              }
            </select> -->
            <input type="hidden" id="CustomerId" formControlName="CustomerId"/>
            <a
            (click)="showCustomersPopUp()"
            class="bg-gradient-to-r from-indigo-500 to-purple-600 text-black font-semibold py-1 px-3 rounded shadow hover:scale-105 transition"
          >
            +Customer
          </a>
          </div>
           <!-- <button (click)="showCustomersPopUp()" 
              class="bg-gradient-to-r from-indigo-500 to-purple-600 text-black font-semibold py-1 px-3 rounded shadow hover:scale-105 transition">
              +Customer
            </button> -->
        </div>

        <!-- Customer Name -->
        <div class="form-group row">
          <div class="col">
            <label for="Name">Name:</label>
          </div>
          <div class="col">
            <input id="Name"  type="text" formControlName="Name" class="form-control" />
          </div>
        </div>

        <!-- Mobile Number -->
        <div class="form-group row">
          <div class="col">
            <label for="MobileNo">Mobile No:</label>
          </div>
          <div class="col">
            <input id="MobileNo"  type="number" formControlName="MobileNo" minlength="10" maxlength="20"  pattern="[0-9]{10,20}"
              title="Enter valid mobile number (10 to 20 digits)" />
          </div>
        </div>

        <!-- Booking Amount -->
        <div class="form-group row">
          <div class="col">
            <label for="BookingAmount">Booking Amount:</label>
          </div>
          <div class="col">
            <input id="BookingAmount" type="number" formControlName="BookingAmount" class="form-control" min="0" />
          </div>
        </div>

        <!-- Payment Status -->
        <div class="form-group row">
          <div class="col">
            <label for="Paymentstatus">Payment Status:</label>
          </div>
          <div class="col">
            <input id="Paymentstatus" type="checkbox" formControlName="Paymentstatus" class="form-check-input" />
          </div>
        </div>

        <!-- Error or Info Message -->
        <div class="form-group row">
          <div class="col">
            <p class="text-danger">{{ args }}</p>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary" [disabled]="myAddForm.invalid">
              Reserve Table
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
  }

  <!-- end -->


  <!-- reserve edit start -->
  @if (editshow) {
  <div class="comman" *ngIf="editreservedinefata">
    <div class="row box">
      <form [formGroup]="myEditForm" (ngSubmit)="onFormEditSubmit()" class="col lbl2">
         <!-- Close Button -->
        <button class="close" type="button" (click)="close()">Close</button>

        <!-- Header -->
        <div class="row lbl">
          <h4>Reserve a Dine (Validity for 2 hour)</h4>
        </div>

        <!-- Table Selection -->
        <div class="form-group row">
          <div class="col">
            <label for="TableId">Select Table:</label>
          </div>
          <div class="col">
            <select class="lbl" formControlName="TableId">
              <option class="lbl" *ngFor="let d of FloorWithDineData index as i"
                [selected]="d._id===editreservedinefata[0].TableId">{{d.FloorName}}/ {{d.name}}</option>
            </select>
          </div>
        </div>

        <!-- Date & Time Picker -->
        <!-- Date Picker -->
        <div class="form-group row">
          <div class="col">
            <label for="DateOnly">Pick Date:</label>
          </div>
          <div class="col">
            <input id="DateOnly" formControlName="ReservedDate" type="date" class="form-control" [min]="currentDateOnly" [value]="selectedDate"
              (change)="onDateChange($event)" />
          </div>
        </div>

        <!-- Time Dropdown -->
        <div class="form-group row">
          <div class="col">
            <label for="TimeOnly">Pick Time (2 hour slots):</label>
          </div>
          <div class="col">
            <!--[value]="selectedTimeforEdit"-->
            <!-- <option *ngFor="let time of availableTimeSlots index as i"  [value]="selectedTimeforEdit" [selected]="selectedTimeforEdit.trim()==availableTimeSlots[i] || (1+selectedTimeforEdit.trim())==(1-(+availableTimeSlots[i]))" >{{ time  }}</option> -->
            <select
              id="TimeOnly"
              formControlName="ReservedTimeSlot"
              class="form-control"
              (change)="onTimeChange($event)"
            >
              <option value="" disabled selected>Select a time slot</option>
              <option
                *ngFor="let time of availableTimeSlots; let i = index"
                [value]="time"
                [selected]="selectedTimeforEdit === time"
              >
                {{ time }}
              </option>
            </select>
          </div>
        </div>

        <!-- Hidden field bound to the form's DateTimeStart -->
        <input type="hidden" id="dateTimeStartControl" name="dateTimeStartControl" [formControl]="dateTimeStartControl" />


        <!-- Customer Selection -->
        <div class="form-group row">
          <div class="col">
            <label for="CustomerId">Select Customer:</label>
          </div>
          <div class="col">
            <!-- <select id="CustomerId" formControlName="CustomerId" class="form-control" (click)="bindcustomer()">
              <option value="">None</option>
              @for (customer of Customersnamedata; track customer) {
              <option [value]="customer._id">{{ customer.Name }}</option>
              }
            </select> -->
            <input type="hidden" id="CustomerId" formControlName="CustomerId"/>
            <a
            (click)="showCustomersPopUp()"
            class="bg-gradient-to-r from-indigo-500 to-purple-600 text-black font-semibold py-1 px-3 rounded shadow hover:scale-105 transition"
          >
            +Customer
          </a>
          </div>
           <!-- <button (click)="showCustomersPopUp()" 
              class="bg-gradient-to-r from-indigo-500 to-purple-600 text-black font-semibold py-1 px-3 rounded shadow hover:scale-105 transition">
              +Customer
            </button> -->
        </div>

        <!-- Customer Name -->
        <div class="form-group row">
          <div class="col">
            <label for="Name">Name:</label>
          </div>
          <div class="col">
            <input id="Name" type="text"  formControlName="Name" class="form-control" [value]="editreservedinefata[0].Name" />
          </div>
        </div>

        <!-- Mobile Number -->
        <div class="form-group row">
          <div class="col">
            <label for="MobileNo">Mobile No:</label>
          </div>
          <div class="col">
            <input id="MobileNo"  type="number" formControlName="MobileNo" minlength="10" maxlength="20"  pattern="[0-9]{10,20}"
              title="Enter valid mobile number (10 to 20 digits)" [value]="editreservedinefata[0].MobileNo" />
          </div>
        </div>

        <!-- Booking Amount -->
        <div class="form-group row">
          <div class="col">
            <label for="BookingAmount">Booking Amount:</label>
          </div>
          <div class="col">
            <input id="BookingAmount" type="number" formControlName="BookingAmount" [value]="editreservedinefata[0].BookingAmount" class="form-control" min="0" />
          </div>
        </div>

        <!-- Payment Status -->
        <div class="form-group row">
          <div class="col">
            <label for="Paymentstatus">Payment Status:</label>
          </div>
          <div class="col">
            <input id="Paymentstatus" type="checkbox" formControlName="Paymentstatus" [value]="editreservedinefata[0].Paymentstatus" class="form-check-input" />
          </div>
        </div>

        <!-- Error or Info Message -->
        <div class="form-group row">
          <div class="col">
            <p class="text-danger">{{ args }}</p>
          </div>
        </div>

     <div class="form-group row">
          <div class="col"><button style="border: solid black; padding: 10px;" [disabled]="myEditForm.invalid "
              class="bt1n" type="submit">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  }
  <!-- end  -->

  <!-- reserve delete start -->
  @if (deleteshow) {
  <div class="comman">
    <div class="row box">
      <p>{{args}}</p>
      <div class="form-group row">
        <div class="col">
          <h3>Please Confirme to Delete</h3>
        </div>
      </div>
      <div class=" form-group row">
        <div class="col"><button (click)="Confirmedelete()" style="border: solid black; padding: 10px;">Confirme
            delete</button>
        </div>
        <div class="col"><button (click)="close()" style="border: solid black; padding: 10px;">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  }
  <!-- end  -->

  <!-- add customer -->
<!-- <app-addcustomers [showPopUp]="showCustomerPopUp" [closePopUp]="closePopUp"
  (closePopUpByChild)="closePopUpByChild($event)" (CustomersDetail)="initializeCustomer($event)"></app-addcustomers> -->
  <!-- end -->
  <app-addcustomers
  [showPopUp]="showCustomerPopUp"
  [closePopUp]="closePopUp"
  (closePopUpByChild)="closePopUpByChild($event)"
  (CustomersDetail)="initializeCustomer($event)"
></app-addcustomers>