<div>
  <h4 class="titleh4">Raw Materials Associate With Product Management</h4>
  <button class="bt1n btnbox" id="show" (click)="shows()">+Add Associate Raw Materials</button>
</div>

@if (popupenvironments.show$ | async) {
  <div class="comman">
    <div class="row box">
      <form [formGroup]="myAddForm" (ngSubmit)="onFormSubmit()" class="col lbl2">
        <button class="close" (click)="close()">Close</button>
        <div class="row lbl">
          <h6>Associate food material with product (e.g., Onion, Tomato, Salt with Chilly Potato)</h6>
        </div>
        <!-- Product Selection -->
        <div class="form-group row">
          <div class="col">
            <label class="lbl" for="ProductId">Select Product :</label>
          </div>
          <div class="col">
            <select class="lbl" formControlName="ProductId" (change)="getProductPriceAndSubQuantityTypeDetails()">
              <option class="lbl" disabled selected>Select</option>
              
                <option *ngFor="let Product of Products$ | async;" class="lbl" [value]="Product._id">{{ Product.name }}</option>
              
            </select>
          </div>
        </div>
        <!-- Sub Quantity Type Selection -->
        @if (_InventoryFoodwithProduct2List.length != 0) {
          <div class="form-group row">
            <div class="col">
              <label class="lbl" for="SubQuantityTypeID">Select Quantity Type :</label>
            </div>
            <div class="col">
              <select class="lbl" formControlName="SubQuantityTypeID" (change)="showubelement()">
                <option class="lbl" disabled selected>Select</option>
               
                  <option *ngFor="let subType of _InventoryFoodwithProduct2List; " class="lbl" [value]="subType.SubQuantityTypeID">{{ subType.SubQuantityTypeName }}</option>
                
              </select>
            </div>
          </div>
        }
        <!-- Raw Material Add Row -->
        @if (showubelements) {
          <div class="row form-group">
            <div class="col">
              <select class="lbl" formControlName="inventoryfoodmain_id" (change)="getInventoryFoodQuantityTypeName()">
                @for (mainFood of InventoryMainFooddata$ | async; track mainFood) {
                  <option class="lbl" [value]="mainFood._id">{{ mainFood.name }}</option>
                }
              </select>
            </div>
            <div class="col">
              <input class="lbl" type="number" placeholder="Enter Quantity" id="quantitytypevalue" formControlName="quantitytypevalue" />
            </div>
            <div class="col">
              <input type="text" class="lbl" id="quantitytypename" formControlName="quantitytypename" value="{{ quantitytypename }}"/>
            </div>
            <div class="col">
              <input class="lbl" type="button" value="Add Material" (click)="addMaterial()" />
            </div>
          </div>
        }
        <!-- Materials Tag List -->
        @if (_GoodscollectionMergename_List.length != 0) {
          <div class="form-group row">
            <div class="col">
              <label class="lbl" for="ProductId">Materials:</label>
              @for (item of _GoodscollectionMergename_List; track item) {
                <div class="tag">
                  <span class="tag-content">
                    <strong>{{ item.Name }}</strong><br>
                    <small>({{ item.quantiyval }})</small>
                  </span>
                  <a class="tag-close" (click)="deleteRawItem(item.IventoryFoodMainId)">❌</a>
                </div>
              }
            </div>
          </div>
        }
        <p>{{ popupenvironments.args$ | async }}</p>
        <div class="mt-2">
          <button class="bt1n" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
}

@if (popupenvironments.showEdit$ | async) {
  <div class="comman">
    <div class="row box">
      <form [formGroup]="myEditForm" (ngSubmit)="onEditForm()" class="col lbl2">
        <button class="close" (click)="close()">Close</button>
        <div class="row lbl">
          <h6>Associate food material with product (e.g., Onion, Tomato, Salt with Chilly Potato)</h6>
        </div>
        <!-- Product Selection (Edit) -->
        <div class="form-group row">
          <div class="col">
            <label class="lbl" for="ProductId">Select Product :</label>
          </div>
          <div class="col">
            <select class="lbl" formControlName="ProductId" (change)="getProductPriceAndSubQuantityTypeDetails()">
              @for (product of Products$ | async; track product) {
                <option class="lbl" [value]="product._id" [disabled]="true" [selected]="popupenvironments.popdata2$.ProductId === product._id">
                  {{ product.name }}
                </option>
              }
            </select>
          </div>
        </div>
        <!-- Sub Quantity Type Selection (Edit) -->
        <div class="form-group row">
          <div class="col">
            <label class="lbl" for="SubQuantityTypeID">Select Quantity Type :</label>
          </div>
          <div class="col">
            <select class="lbl" formControlName="SubQuantityTypeID" (change)="showubelement()">
              @for (subType of _InventoryFoodwithProduct2List; track subType) {
                <option class="lbl" [disabled]="true" [value]="subType.SubQuantityTypeID" [selected]="popupenvironments.popdata2$.SubQuantityTypeID === subType.SubQuantityTypeID">
                  {{ subType.SubQuantityTypeName }}
                </option>
              }
            </select>
          </div>
        </div>
        <!-- Raw Material Add Row (Edit) -->
        <div class="row form-group">
          <div class="col">
            <select class="lbl" formControlName="inventoryfoodmain_id" (change)="getInventoryFoodQuantityTypeNameforedit()">
              @for (mainFood of InventoryMainFooddata$ | async; track mainFood) {
                <option class="lbl" [value]="mainFood._id">{{ mainFood.name }}</option>
              }
            </select>
          </div>
          <div class="col">
            <input class="lbl" type="number" placeholder="Enter Quantity" id="quantitytypevalue" formControlName="quantitytypevalue" />
          </div>
         <div class="col">
              <input type="text" class="lbl" id="quantitytypename" formControlName="quantitytypename" value="{{ quantitytypename }}"/>
            </div>
          <div class="col">
            <input class="lbl" type="button" value="Add Material" (click)="addMaterialforEdit()" />
          </div>
        </div>
        <!-- Materials Tag List (Edit) -->
        @if (_GoodscollectionMergename_List.length != 0) {
          <div class="form-group row">
            <div class="col">
              <label class="lbl" for="ProductId">Materials:</label>
              @for (item of _GoodscollectionMergename_List; track item) {
                <div class="tag">
                  <span class="tag-content">
                    <strong>{{ item.Name }}</strong><br>
                    <small>({{ item.quantiyval }})</small>
                  </span>
                  <a class="tag-close" (click)="deleteRawItem(item.IventoryFoodMainId)">❌</a>
                </div>
              }
            </div>
          </div>
        }
        <p>{{ popupenvironments.args$ | async }}</p>
        <div class="row form-group">
          <div class="col">
            <button class="bt1n" style="margin: 3px;" id="b{{ popupenvironments.popdata2$._id }}" [disabled]="myEditForm.invalid">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
}

<ag-grid-angular
  class="box ag-theme-quartz"
  style="height:500px;width:100%;"
  [rowData]="fooddata$ | async"
  [columnDefs]="colDefs"
  [pagination]="pagination"
  [paginationPageSize]="paginationPageSize"
  [paginationPageSizeSelector]="paginationPageSizeSelector"
  (cellClicked)="onCellClick($event)">
</ag-grid-angular>

<div>
  <app-popupmodel
    (deletedconfirmedclicked)="deletedConfirmed($event)"
    (clicked)="handleChildClick()"
    [style]="popupenvironments.display$ | async"
    [tabname]="popupenvironments.tablename$ | async"
    [data]="popupenvironments.valueid$ | async"
    [modal]="popupenvironments.modal$ | async">
  </app-popupmodel>
</div>