<div>
  <h4 class="titleh4">Raw Materials Management</h4>
  <button class="bt1n btnbox" id="show" (click)="shows()">+Add Raw Material</button>
</div>

@if (popupenvironments.show$ | async) {
  <div class="comman">
    <div class="row box">
      <form [formGroup]="myAddForm" (ngSubmit)="onFormSubmit()" #f="ngForm" class="col lbl2">
        <button class="close" (click)="close()">Close</button>
        <div class="row lbl">
          <h6>Insert Inventory Product (like Onion, Tomato, Salt etc)</h6>
        </div>
        <div class="row form-group">
          <div class="col">
            <label class="lbl" for="nametxt">Name :</label>
          </div>
          <div class="col">
            <input class="lbl" type="text" id="nametxt" formControlName="name" />
          </div>
        </div>
        <div class="row form-group">
          <div class="col">
            <label class="lbl" for="descriptiontxt">Description :</label>
          </div>
          <div class="col">
            <input class="lbl" type="text" id="descriptiontxt" formControlName="description" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <label class="lbl" for="quantitytypeID">Select Quantity Type :</label>
          </div>
          <div class="col">
            <select class="lbl" formControlName="quantitytypeID" (change)="getInventoryFoodQuantityTypeName()">
              @for (d of inventoryQuantityTypeData$ | async; track d) {
                <option class="lbl" [value]="d._id">{{d.name}}</option>
              }
            </select>
          </div>
        </div>
        @if (quantitytypename != '') {
          <div class="form-group row">
            <div class="col">
              <label class="lbl" for="Quantitytypename">Quantity Type Name :</label>
            </div>
            <div class="col">
              <input type="text" class="lbl" id="Quantitytypename" formControlName="quantitytypename" value="{{quantitytypename}}">
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label class="lbl" for="quantitytypevalue">Quantity Type Value :</label>
            </div>
            <div class="col">
              <input class="lbl" type="number" id="quantitytypevalue" formControlName="quantitytypevalue" />
            </div>
          </div>
        }
        <p>{{popupenvironments.args$ | async}}</p>
        <div class="mt-2">
          <button class="bt1n" type="submit" [disabled]="myAddForm.invalid">Add</button>
        </div>
      </form>
    </div>
  </div>
}

@if (popupenvironments.showEdit$ | async) {
  <div class="comman">
    <div class="row box">
      <form [formGroup]="myEditForm" (ngSubmit)="onEditForm()" #f="ngForm" class="col lbl2">
        <button class="close" (click)="close()">Close</button>
        <div class="row form-group">
          <div class="col">
            <h2><b>Edit</b></h2>
          </div>
        </div>
        <p>{{popupenvironments.args$ | async}}</p>
        <div class="row form-group">
          <div class="col">
            <label class="lbl" for="nametxt">Name :</label>
          </div>
          <div class="col">
            <input style="width: 114px; margin: 3px;" id="nametxt" type="text" formControlName="name" />
          </div>
        </div>
        <div class="row form-group">
          <div class="col">
            <label class="lbl" for="descriptiontxt">Description :</label>
          </div>
          <div class="col">
            <input style="width: 250px; margin: 3px;" type="text" id="descriptiontxt" formControlName="description" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <label class="lbl" for="quantitytypeID">Select Quantity Type :</label>
          </div>
          <div class="col">
            <select class="lbl" formControlName="quantitytypeID" (change)="getInventoryFoodQuantityTypeNameforEdit()">
              @for (d of inventoryQuantityTypeData$ | async; track d) {
                <option class="lbl" [value]="d._id">{{d.name}}</option>
              }
            </select>
          </div>
        </div>
        @if (quantitytypename != '') {
          <div class="form-group row">
            <div class="col">
              <label class="lbl" for="Quantitytypename">Quantity Type Name :</label>
            </div>
            <div class="col">
              <input type="text" class="lbl" id="Quantitytypename" formControlName="quantitytypename" value="{{quantitytypename}}">
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label class="lbl" for="quantitytypevalue">Quantity Type Value :</label>
            </div>
            <div class="col">
              <input class="lbl" type="number" id="quantitytypevalue" formControlName="quantitytypevalue" />
            </div>
          </div>
        }
        <div class="row form-group">
          <div class="col">
            <button class="bt1n" style="margin: 3px;" id="b{{popupenvironments.popdata2$._id}}" [disabled]="myEditForm.invalid">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
}

<ng-container *ngIf="InventoryMainFooddata$ | async as InventoryMainFooddata">
  <app-gird-table
  [columns]="colDefs"
  [data]="InventoryMainFooddata "
  (rowClicked)="onRowClick($event)"
  ></app-gird-table>
  </ng-container>
<div>
  <app-popupmodel
    (deletedconfirmedclicked)="deletedConfirmed($event)"
    (clicked)="handleChildClick()"
    [style]="popupenvironments.display$ | async"
    [tabname]="popupenvironments.tablename$ | async"
    [data]="popupenvironments.valueid$ | async"
    [modal]="popupenvironments.modal$ | async"
  ></app-popupmodel>
</div>