<h4 class="titleh4">Quantity Type Management</h4>

<!-- Loading and Error States -->
<div *ngIf="loading$ | async">Loading...</div>
<div *ngIf="error$ | async as error" style="color:red">{{ error }}</div>

<!-- Add Button -->
<button class="bt1n btnbox" id="show" (click)="shows()">+Add Quantity Type</button>

<!-- Add Form Modal -->
<div *ngIf="show" class="comman">
  <div class="row box">
    <form [formGroup]="myAddForm" (ngSubmit)="onFormSubmit()" class="col lbl2">
      <button class="close" type="button" (click)="close()">Close</button>
      <div class="row lbl">
        <h4>Insert Quantity Type Records (like full, half, small, medium, large)</h4>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="selectQtypeID">Select Quantity Type :</label>
        </div>
        <div class="col">
          <select class="lbl" id="selectQtypeID" formControlName="selectQtypeID">
            <option *ngFor="let d of Qtypenamedata$ | async; " [value]="d._id">{{ d.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="nametxt">Name :</label>
        </div>
        <div class="col">
          <input class="lbl" id="nametxt" type="text" minlength="0" maxlength="200" formControlName="name" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="descriptiontxt">Description :</label>
        </div>
        <div class="col">
          <input class="lbl" id="descriptiontxt" type="text" minlength="0" maxlength="200" formControlName="description" />
        </div>
      </div>
      <p>{{ args }}</p>
      <div class="row">
        <div class="col">
          <button class="bt1n" type="submit" style="border: solid black; padding: 10px;" [disabled]="myAddForm.invalid">+</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Edit Form Modal -->
<div *ngIf="showEdit" class="comman">
  <div class="row box">
    <form [formGroup]="myEditForm" (ngSubmit)="onFormEdit()" class="col lbl2">
      <button class="close" type="button" (click)="close()">Close</button>
      <div class="row">
        <div class="col">
          <h2><b>Edit</b></h2>
        </div>
      </div>
      <p>{{ args }}</p>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="selectedit">Select Quantity Type :</label>
        </div>
        <div class="col">
          <select id="selectedit" formControlName="selectQtypeID">
            <option value="">Select Options</option>
            <option *ngFor="let d of Qtypenamedata$ | async; " [value]="d._id" [selected]="d._id === popdata2?.selectQtypeID">
              {{ d.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="editname">Name :</label>
        </div>
        <div class="col">
          <input
            id="editname"
            style="width: 114px; margin: 3px;"
            minlength="0"
            maxlength="200"
            formControlName="name"
            type="text"
          />
          <div *ngIf="myEditForm.get('name')?.invalid && myEditForm.get('name')?.touched">
            Name is required.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label class="lbl" for="editdescription">Description :</label>
        </div>
        <div class="col">
          <input
            id="editdescription"
            style="width: 250px; margin: 3px;"
            minlength="0"
            maxlength="200"
            formControlName="description"
            type="text"
            aria-multiline="true"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="bt1n" style="margin: 3px;" id="baseb" [disabled]="myEditForm.invalid">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Data Table -->
<!-- <ag-grid-angular
  class="box ag-theme-quartz"
  style="height:500px;"
  [rowData]="subQuantityTypeData$ | async"
  [columnDefs]="colDefs"
  [pagination]="pagination"
  [paginationPageSize]="paginationPageSize"
  [paginationPageSizeSelector]="paginationPageSizeSelector"
  (cellClicked)="onCellClick($event)"
></ag-grid-angular> -->
<ng-container *ngIf="subQuantityTypeData$ | async as subQuantityTypeData">
<app-gird-table
[columns]="colDefs"
[data]="subQuantityTypeData "
(rowClicked)="onRowClick($event)"
></app-gird-table>
</ng-container>
<!-- Popup Modal -->
<div>
  <app-popupmodel
    (deletedconfirmedclicked)="deletedConfirmed($event)"
    (clicked)="handleChildClick()"
    [style]="display"
    [tabname]="tablename"
    [data]="valueid"
    [modal]="modal"
  ></app-popupmodel>
</div>